.header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  gap: 40px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #2E2F42;
  padding-left: 24px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}